---
import { BodyShort, Heading, Link } from "@navikt/ds-react";
import { text } from "@src/language/text";
import { fetchBrev } from "@src/utils/fetch";
import { logger } from "@src/utils/logger";
import { isLocal } from "@src/utils/environment";
import { MotebehovStatusDTO } from "../../../schema/motebehovSchema";
import { BrevDTO } from "../../../schema/brevSchema";
import { fetchMotebehov } from "../../utils/fetch";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";

const userToken = Astro.locals.token;

let brev: BrevDTO[];
let motebehov: MotebehovStatusDTO;

try {
  brev = await fetchBrev(userToken);
} catch (error) {
  logger.error(`Error fetching brev: ${error}`);
  return new Response("Internal Server Error", { status: 503 });
}

try {
  motebehov = await fetchMotebehov(userToken);
} catch (error) {
  logger.error(`Error fetching motebehov: ${error}`);
  return new Response("Internal Server Error", { status: 503 });
}

const language = Astro.currentLocale as Language;
---

{isLocal && <meta charset="UTF-8" />}
<section class="tms-microfrontend-template-ssr">
  <div class={styles.microfrontend}>
    <Heading size="medium" level="2">
      {text.title[language]}
    </Heading>
    <BodyShort>
      {text.name[language]}...
    </BodyShort>
    <Link href="#" id="link">
      {text.link[language]}
    </Link>
  </div>
</section>
<script>
  import { logEvent } from "@src/utils/analytics";

  const microfrontend = document.querySelector("#link");
  microfrontend?.addEventListener("click", () => logEvent("Lenke"));
</script>
